<p-card header="Adicionar Atividade">
  <div class="p-fluid">
    <div class="p-field">
      <label for="nome">Nome</label>
      <input id="nome" type="text" pInputText [(ngModel)]="newActivity.name">
    </div>
    <div class="p-field">
      <label for="descricao">Descrição</label>
      <input id="descricao" type="text" pInputText [(ngModel)]="newActivity.description">
    </div>
    <div class="p-field">
      <label for="horas">Horas</label>
      <input id="horas" type="number" pInputText [(ngModel)]="newActivity.hours">
    </div>
    <p-button label="Adicionar" icon="pi pi-plus" (click)="addActivity()" class="p-button-success"></p-button>
  </div>
</p-card>
