<button (click)="toggleTheme()" class="theme-toggle-btn p-button-rounded p-button-text">
  <i class="pi" [ngClass]="isDarkMode ? 'pi-sun' : 'pi-moon'"></i>
</button>

<div class="login-container">
  <p-card header="Login" class="login-card">
    <div class="p-fluid">
      <!-- Campo de Usuário com Ícone -->
      <p-floatLabel>
        <i class="pi pi-user" style="margin-right: 10px;"></i>
        <input pInputText id="username" [(ngModel)]="username" required />
        <label for="username">Username</label>
      </p-floatLabel>
      <p-floatLabel>
        <i class="pi pi-lock"></i>
        <input type="password" pInputText id="password" [(ngModel)]="password" required />
        <label for="password">Password</label>
      </p-floatLabel>

      <!-- Botão de Lembrar-me -->
      <div class="remember-me">
        <p-checkbox [(ngModel)]="rememberMe" [binary]="true"></p-checkbox>
        <label for="rememberMe">Lembrar-me</label>
      </div>

      <!-- Botão de Login com Spinner -->
      <p-button
        label="Login"
        icon="pi pi-sign-in"
        (click)="onSubmit()"
        [loading]="loading"
        [disabled]="!username || !password"
      ></p-button>
    </div>

      <!-- Link para Recuperação de Senha -->
    <div class="forgot-password">
      <a class="p-button-link" (click)="showForgotPasswordDialog = true">Esqueceu a senha?</a>
    </div>

    <!-- Dialog para digitar o e-mail -->
    <p-dialog [(visible)]="showForgotPasswordDialog" header="Recuperar Senha" [modal]="true" [closable]="true">
      <div class="p-fluid">
        <label for="email">E-mail</label>
        <input id="email" type="email" pInputText [(ngModel)]="forgotPasswordEmail" placeholder="Digite seu e-mail" />

        <div class="mt-3 text-right">
          <button
            pButton
            type="button"
            label="Enviar nova senha"
            icon="pi pi-envelope"
            [loading]="loading"
            (click)="sendResetPasswordEmail()"
          ></button>
        </div>
      </div>
    </p-dialog>

  </p-card>



<!-- Toast para feedback -->
<p-toast></p-toast>

</div>
