.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 400px;
}

.p-fluid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilo do botão de alternar tema */
.theme-toggle-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border: none; /* Remove a borda */
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent !important; /* Remove o fundo */
  box-shadow: none !important; /* Remove sombras */
  color: var(--text-color); /* Cor do ícone */

  &:hover {
    background-color: transparent !important; /* Remove o fundo ao passar o mouse */
    color: var(--primary-color); /* Muda a cor do ícone ao passar o mouse */
  }

  .pi {
    font-size: 1.5rem; /* Tamanho do ícone */
  }
}

.remember-me {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.remember-me label {
  margin-left: 10px;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
