.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 400px;
}

.p-fluid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}

.logo img {
  max-width: 150px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Garante que a proporção da imagem seja mantida */
  justify-content: center;
  align-items: center;
}


.remember-me {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.remember-me label {
  margin-left: 5px;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}


/* Lembrar-me alinhado */
.remember-me {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.remember-me label {
  margin-left: 5px;
  font-size: 0.9rem;
}

/* Link de esqueci a senha */
.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--primary-color);
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Botão de alternar tema */
.theme-toggle-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--text-color);
}

.theme-toggle-btn:hover {
  background-color: transparent !important;
  color: var(--primary-color);
}

.theme-toggle-btn .pi {
  font-size: 1.5rem;
}

/* Estilo do botão de alternar tema */
.theme-toggle-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border: none; /* Remove a borda */
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent !important;
  box-shadow: none !important; /* Remove sombras */
  color: var(--text-color); /* Cor do ícone */

  &:hover {
    background-color: transparent !important;
    color: var(--primary-color);
  }

  .pi {
    font-size: 1.5rem;
  }
}


