<p-toast></p-toast>

<p-card>
  <p-toolbar>
    <div class="p-d-flex p-jc-between p-p-2">
      <input
        pInputText
        type="text"
        [(ngModel)]="searchText"
        (input)="filterTasks()"
        placeholder="Pesquisar..."
      />
    </div>
    <div class="p-toolbar-group-right">
      <p-button label="Adicionar" icon="pi pi-plus" (click)="openAddDialog()"></p-button>
    </div>
  </p-toolbar>

  <p-table [value]="filteredTasks" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">Descrição <p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="estimatedHours">Horas <p-sortIcon field="estimatedHours"></p-sortIcon></th>
        <th pSortableColumn="totalHours">Horas lançadas <p-sortIcon field="totalHours"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-task>
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.estimatedHours }}</td>
        <td>{{ task.totalHours }}</td>
        <td>{{ task.status }}</td>
        <td>
          <p-button icon="pi pi-pencil" (click)="openEditDialog(task)"></p-button>
          <p-button icon="pi pi-key" (click)="openStatusDialog(task)"></p-button>
          <p-button icon="pi pi-trash" (click)="confirmDelete(task)" severity="danger"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>



  <!-- Adicionar Tarefa Dialog -->
<p-dialog header="Adicionar Tarefa" [(visible)]="displayAddDialog" [modal]="true" [responsive]="true">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Nome</label>
      <input id="name" [(ngModel)]="newTask.name" pInputText />
    </div>
    <div class="p-field">
      <label for="description">Descrição</label>
      <input id="description" [(ngModel)]="newTask.description" pInputText />
    </div>
    <div class="p-field">
      <label for="estimatedHours">Horas estimadas</label>
      <input id="estimatedHours" type="number" [(ngModel)]="newTask.estimatedHours" pInputText />
    </div>
    <div class="p-field">
      <label for="status">Status</label>
      <p-dropdown
        id="status"
        [(ngModel)]="newTask.status"
        [options]="status"
        optionLabel="name"
        optionValue="value"
        placeholder="Selecione o status"
        [showClear]="true"
        appendTo="body">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="priority">Prioridade</label>
      <p-dropdown
        id="priority"
        [(ngModel)]="newTask.priority"
        [options]="priorityOptions"
        optionLabel="name"
        optionValue="value"
        placeholder="Selecione a prioridade"
        [showClear]="true"
        appendTo="body">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="project">Projeto</label>
      <p-dropdown
        id="project"
        [(ngModel)]="newTask.projectId"
        [options]="projects"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione o projeto"
        [showClear]="true"
        appendTo="body">
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="assignedUsers">Usuários Atribuídos</label>
      <p-multiSelect
        id="assignedUsers"
        [(ngModel)]="newTask.assignedUserIds"
        [options]="users"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione os usuários"
        [showClear]="true"
        appendTo="body">
      </p-multiSelect> <!-- Feche a tag corretamente -->
    </div>

    <div class="p-field">
      <label for="startDate">Data de Início</label>
      <p-calendar
        id="startDate"
        [(ngModel)]="newTask.startDate"
        dateFormat="yy-mm-dd"
        [showIcon]="true">
      </p-calendar>
    </div>
    <div class="p-field">
      <label for="deadline">Prazo</label>
      <p-calendar
        id="deadline"
        [(ngModel)]="newTask.deadline"
        dateFormat="yy-mm-dd"
        [showIcon]="true">
      </p-calendar>
    </div>
  </div>
  <p-footer>
    <p-button label="Cancelar" icon="pi pi-times" (click)="displayAddDialog = false"></p-button>
    <p-button label="Salvar" icon="pi pi-check" (click)="addTask()"></p-button>
  </p-footer>
</p-dialog>

  <!-- Editar Tarefa Dialog -->
  <p-dialog header="Editar Tarefa" [(visible)]="displayEditDialog" [modal]="true" [responsive]="true">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Nome</label>
        <input id="name" [(ngModel)]="selectedTask.name" pInputText *ngIf="selectedTask" />
      </div>
      <div class="p-field">
        <label for="description">Descrição</label>
        <input id="description" [(ngModel)]="selectedTask.description" pInputText *ngIf="selectedTask" />
      </div>
      <div class="p-field">
        <label for="estimatedHours">Horas estimadas</label>
        <input id="estimatedHours" type="number" [(ngModel)]="selectedTask.estimatedHours" pInputText *ngIf="selectedTask" />
      </div>
      <div class="p-field">
        <label for="totalHours">Horas lançadas</label>
        <input id="totalHours" type="number" [(ngModel)]="selectedTask.totalHours" pInputText *ngIf="selectedTask" />
      </div>
      <div *ngIf="selectedTask" class="p-field">
        <label for="status">Status</label>
        <p-dropdown
          id="status"
          [(ngModel)]="selectedTask.status"
          [options]="status"
          optionLabel="name"
          placeholder="Selecione o status"
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
      </div>
      <div *ngIf="selectedTask" class="p-field">
        <label for="priority">Prioridade</label>
        <p-dropdown
          id="priority"
          [(ngModel)]="selectedTask.priority"
          [options]="priorityOptions"
          optionLabel="name"
          placeholder="Selecione a prioridade"
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
      </div>
    </div>
    <p-footer>
      <p-button label="Cancelar" icon="pi pi-times" (click)="displayEditDialog = false"></p-button>
      <p-button label="Salvar" icon="pi pi-check" (click)="saveEdit()"></p-button>
    </p-footer>
  </p-dialog>

  <!-- Status Dialog com Dropdown -->
  <p-dialog header="Status" [(visible)]="displayPermissionDialog" [modal]="true" [responsive]="true">
    <div class="p-fluid">
      <div class="p-field">
        <label for="status">Status</label>
        <p-dropdown
          id="status"
          *ngIf="selectedTask"
          [(ngModel)]="selectedTask.status"
          [options]="status"
          optionLabel="name"
          placeholder="Selecione o status"
          [showClear]="true"
          appendTo="body"
          optionValue="value">
        </p-dropdown>
      </div>
    </div>
    <p-footer>
      <p-button label="Cancelar" icon="pi pi-times" (click)="displayPermissionDialog = false"></p-button>
      <p-button label="Salvar" icon="pi pi-check" (click)="saveStatus()"></p-button>
    </p-footer>
  </p-dialog>

  <!-- Excluir Tarefa Dialog -->
  <p-dialog header="Excluir Tarefa" [(visible)]="displayDeleteDialog" [modal]="true" [responsive]="true">
    <p>Tem certeza que deseja excluir essa tarefa?</p>
    <p-footer>
      <p-button label="Cancelar" icon="pi pi-times" (click)="displayDeleteDialog = false"></p-button>
      <p-button label="Excluir" icon="pi pi-check" severity="danger" (click)="selectedTask ? deleteTask(selectedTask) : null"></p-button>
    </p-footer>
  </p-dialog>

  <div class="report-buttons">
    <p-button label="Gerar PDF" icon="pi pi-file-pdf" (click)="gerarPDF()" class="p-button-success"></p-button>
    <p-button label="Gerar Excel" icon="pi pi-file-excel" (click)="gerarExcel()" class="p-button-info"></p-button>
  </div>
</p-card>
