:host {
  display: block;
}

.sidebar-container {
  display: flex;
  justify-content: center;
  background-color: var(--background-color); /* Usando variável de fundo */

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-shrink: 0;
    border-bottom: 1px solid var(--border-color); /* Usando variável de borda */
  }

  .close-button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s;
    color: var(--text-color); /* Usando variável de texto */

    &:hover {
      background-color: var(--hover-background-color); /* Usando variável de fundo ao passar o mouse */
    }
  }

  .sidebar-menu {
    overflow-y: auto;
    padding: 1rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .menu-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 1rem;
        border-radius: 5px;
        color: var(--text-color); /* Usando variável de texto */
        text-decoration: none;
        transition: background-color 0.2s, color 0.2s;

        i {
          margin-right: 0.5rem;
        }

        &:hover {
          background-color: var(--hover-background-color); /* Usando variável de fundo ao passar o mouse */
          color: var(--text-color); /* Usando variável de texto */
        }
      }
    }
  }

  .sidebar-footer {
    margin-top: auto;
    padding: 1rem;
    border-top: 1px solid var(--border-color); /* Usando variável de borda */

    .profile-section {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      border-radius: 5px;
      color: var(--text-color); /* Usando variável de texto */
      text-decoration: none;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: var(--hover-background-color); /* Usando variável de fundo ao passar o mouse */
        color: var(--text-color); /* Usando variável de texto */
      }
    }

    .profile-name {
      font-weight: bold;
    }
  }

  .active-menu-item {
    background-color: var(--active-background-color); /* Usando variável de fundo do item ativo */
    font-weight: bold;
    border-radius: 5px;
    color: var(--text-color); /* Usando variável de texto */
  }
}
