
<p-toast></p-toast>

<div class="time-entry-container">

  <p-toolbar>
    <div class="botoes">
      <p-button label="Adicionar" icon="pi pi-plus" (click)="openDialog()"></p-button>
      <p-button label="Gerar PDF" icon="pi pi-file-pdf" (click)="gerarPDF()" class="p-button-success"></p-button>
    <p-button label="Gerar Excel" icon="pi pi-file-excel" (click)="gerarExcel()" class="p-button-info"></p-button>
    </div>
  </p-toolbar>
  <!-- Tabela com os lançamentos -->
  <p-table [value]="timeEntries" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Tarefa</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Total (h)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr>
        <td>{{ entry.taskId }}</td>
        <td>{{ entry.description }}</td>
        <td>{{ entry.entryDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ entry.startTime }}</td>
        <td>{{ entry.endTime }}</td>
        <td>{{ entry.totalHours?.toFixed(2) }}</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Modal para lançar horas -->
  <p-dialog
    [(visible)]="displayDialog"
    header="Adicionar Horas"
    [modal]="true"
    [closable]="false"
    [style]="{ width: '450px' }"
  >
    <form [formGroup]="timeEntryForm" class="p-fluid">
      <!-- Campo Tarefa -->
      <div class="p-field">
        <label for="taskDropdown">Tarefa</label>
        <p-dropdown
          id="taskDropdown"
          [options]="tasks"
          placeholder="Selecione a Tarefa"
          [editable]="true"
          optionLabel="name"
          appendTo="body"
          formControlName="taskId"
          (onChange)="onTaskSelect($event)"
          [ngClass]="{ 'p-invalid': isFieldInvalid('taskId') }"
        ></p-dropdown>
      </div>

      <!-- Campo Descrição -->
      <div class="p-field">
        <label for="description">Descrição</label>
        <textarea
          id="description"
          rows="3"
          pInputTextarea
          formControlName="description"
          placeholder="Descreva a tarefa"
          [autoResize]="false"
          [ngClass]="{ 'p-invalid': isFieldInvalid('description') }"
        ></textarea>

      </div>
      <!-- Campo Data -->
      <div class="p-field">
        <label for="entryDate">Data</label>
        <p-calendar
          id="entryDate"
          formControlName="entryDate"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          placeholder="Selecione a data"
          appendTo="body"
          [ngClass]="{ 'p-invalid': isFieldInvalid('entryDate') }"
        ></p-calendar>
      </div>

      <!-- Campo Hora de Início -->
      <div class="p-field">
        <label for="startTime">Hora Início</label>
        <input
          type="text"
          id="startTime"
          formControlName="startTime"
          placeholder="HH:mm"
          pInputText
          (input)="autoFormatTime('startTime')"
          [ngClass]="{ 'p-invalid': isFieldInvalid('startTime') }"
        />

      </div>

      <!-- Campo Hora de Fim -->
      <div class="p-field">
        <label for="endTime">Hora Fim</label>
        <input
          type="text"
          id="endTime"
          formControlName="endTime"
          placeholder="HH:mm"
          pInputText
          (input)="autoFormatTime('endTime')"
          [ngClass]="{ 'p-invalid': isFieldInvalid('endTime') }"
        />
      </div>
    </form>

    <!-- Botões de Ação -->
    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        type="button"
        label="Salvar"
        icon="pi pi-check"
        (click)="saveTimeEntry()"
        [disabled]="timeEntryForm.invalid"
      ></button>
    </ng-template>
  </p-dialog>

</div>
