<div>
  <button pButton label="Adicionar Horas" icon="pi pi-plus" (click)="openDialog()"></button>

  <p-table [value]="timeEntries" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Tarefa</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Total (h)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr>
        <td>{{ entry.taskId }}</td>
        <td>{{entry.description}}</td>
        <td>{{ entry.entryDate }}</td>
        <td>{{ entry.startTime }}</td>
        <td>{{ entry.endTime }}</td>
        <td>{{ entry.totalHours?.toFixed(2) }}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="displayDialog" header="Adicionar Horas" [modal]="true" [closable]="false">
    <form [formGroup]="timeEntryForm">
      <div class="p-fluid">
        <div class="p-field">
          <label for="task">Tarefa</label>
          <input id="task" type="text" pInputText formControlName="taskId">
        </div>
        <div class="p-field">
          <label for="text">Descrição</label>
          <input id="text" type="text" pInputText formControlName="description">
        </div>
        <div class="p-field">
          <label for="date">Data</label>
          <input id="date" type="date" pInputText formControlName="entryDate">
        </div>
        <div class="p-field">
          <label for="start">Hora Início</label>
          <input id="start" type="time" pInputText formControlName="startTime">
        </div>
        <div class="p-field">
          <label for="end">Hora Fim</label>
          <input id="end" type="time" pInputText formControlName="endTime">
        </div>
      </div>
    </form>
    <p-footer>
      <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="closeDialog()"></button>
      <button pButton label="Salvar" icon="pi pi-check" (click)="saveTimeEntry()" [disabled]="timeEntryForm.invalid"></button>
    </p-footer>
  </p-dialog>
</div>
