<!-- Se os dados ainda não foram carregados, mostra o loading -->
<div *ngIf="!user" class="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="profile-container" *ngIf="user">
  <div class="profile-header">
    <h1>Perfil</h1>
  </div>
  <div class="profile-info">
    <div class="info-item">
      <strong>Nome completo: </strong>
      <span>{{ user?.name }}</span>
    </div>
    <div class="info-item">
      <strong>Email: </strong>
      <span>{{ user?.email }}</span>
    </div>
    <div class="info-item">
      <strong>Username: </strong>
      <span>{{ user?.username }}</span>
    </div>
    <div class="info-item">
      <strong>Join Date: </strong>
      <span>{{ user?.joinDate }}</span>
    </div>
    <a routerLink="edit/" class="edit-btn">Edit Profile</a>
  </div>
</div>
