.dashboard-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--surface-ground); // Usando variáveis do PrimeNG
  color: var(--text-color);
}

.charts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  .p-card {
    background-color: var(--surface-card);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    p-chart {
      width: 100% !important;
      height: 250px !important;
    }
  }
}

.p-panel {
  background-color: var(--surface-card);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .p-panel-header {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .p-panel-content {
    padding: 1rem;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.p-dialog {
  .p-dialog-content {
    background-color: var(--surface-card);
    color: var(--text-color);

    .p-field {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;
      }

      input, p-calendar, p-inputMask {
        width: 100%;
        background-color: var(--surface-ground);
        color: var(--text-color);
        border: 1px solid var(--surface-border);
        padding: 0.5rem;
        border-radius: 4px;

      }
    }
  }

  .p-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
