<nav class="navbar">
<app-sidebar #sidenav ></app-sidebar>
  <div class="logo">
    <!-- <img [src]="logoPath" alt="Logo" /> -->
    <h1>WORKTRACK <i class="pi pi-check-circle
      custom-icon
      "></i></h1>
  </div>
  <div class="navbar-actions">
    <button (click)="toggleTheme()" class="theme-toggle-btn">
      <i class="pi" [ngClass]="isDarkMode ? 'pi-sun' : 'pi-moon'">
      </i>
    </button>
    <!-- Avatar -->
    <div class="profile-icon" (click)="navigateToProfile()">
      <app-avatar [userName]="user?.name"></app-avatar>

    </div>

    <div class="logout-icon" (click)="logout()">
      <i class="pi pi-sign-out"></i>
    </div>
  </div>
</nav>
