<p-card header="Atividades do Projeto">
  <p-table [value]="activities" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Horas</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-activity>
      <tr>
        <td>{{ activity.nome }}</td>
        <td>{{ activity.descricao }}</td>
        <td>{{ activity.horas }}</td>
        <td>
          <p-button icon="pi pi-pencil" (click)="editActivity(activity)" class="p-button-warning"></p-button>
          <p-button icon="pi pi-trash" (click)="deleteActivity(activity.id)" class="p-button-danger"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
